a {
  text-decoration: none;
}

* p {
  font-family: "Abyssinica SIL", serif;
  color: papayawhip;
  font-size: 1.2rem;
}

* h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.3rem;
  color: rgb(196, 172, 41);
}

* h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.4rem;
  color: rgb(196, 172, 41);
}

* label {
  color: papayawhip;
}

footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(171, 32, 32) 100%);
}
footer p {
  color: white;
  font-size: 1.1rem;
}
footer h3 {
  color: white;
}
footer i {
  color: white;
  font-size: 1.8rem;
}
footer i:hover {
  color: black;
  transition: 0.3s;
}

header {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(171, 32, 32) 100%);
}
header h1 {
  color: rgb(175, 175, 36);
}

.navtext {
  color: papayawhip;
  font-size: 1.07rem;
}
.navtext:hover {
  text-decoration: underline;
  font-size: 1.2rem;
  transition: 0.2s;
  color: goldenrod;
}

.button {
  border: solid black 2px;
  padding: 12px;
  margin: 15px;
  border-radius: 8%;
  background-color: rgba(2, 0, 3, 0.829);
  color: beige;
  width: auto;
}
.button:hover {
  background-color: white;
  transition: 0.8s;
  color: black;
}

.card-nosotros {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(171, 32, 32) 50%, rgb(0, 0, 0) 100%);
  justify-content: center;
  align-items: center;
}

.section-backimg {
  background-image: url(../assets/img/background/backsec.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-nosotros {
  background-color: black;
}
.section-nosotros img {
  border-radius: 15px;
  box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.42);
}

.section-trabajos article {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(171, 32, 32) 50%, rgb(0, 0, 0) 100%);
}

.backgaleria {
  background-color: black;
}

.galeria {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(171, 32, 32) 50%, rgb(0, 0, 0) 100%);
}
.galeria h3 {
  font-family: "Oswald", sans-serif;
  color: rgb(196, 172, 41);
  font-size: 2rem;
  text-decoration: underline;
}
.galeria h3:hover {
  color: black;
  transition: 0.8s;
}
.galeria img {
  border-radius: 30px;
  box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.42);
  object-fit: cover;
}

.section-local {
  background: #000;
}
.section-local article {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(171, 32, 32) 50%, rgb(0, 0, 0) 100%);
}
.section-local article a {
  text-decoration: none;
  color: papayawhip;
  text-decoration: underline;
}
.section-local article a:hover {
  color: grey;
  transition: 0.3s;
}
.section-local article li, .section-local article a {
  list-style: none;
  text-decoration: none;
  color: papayawhip;
}
.section-local article li:hover, .section-local article a:hover {
  color: grey;
  transition: 0.3s;
}
.section-local article h3 {
  font-family: "Oswald", sans-serif;
  font-size: 2.4rem;
  color: rgb(196, 172, 41);
}
.section-local article .redes {
  font-size: 3rem;
  color: white;
}
.section-local article .redes:hover {
  color: black;
  transition: 0.3s;
}

.sponsor {
  width: 150px;
  height: 150px;
}

.input-form {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.form-section {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(171, 32, 32) 50%, rgb(0, 0, 0) 100%);
}

.bg-section {
  background-color: black;
}

.terminossec {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(171, 32, 32) 50%, rgb(0, 0, 0) 100%);
}

.terminossec li {
  list-style: none;
  color: papayawhip;
}
.terminossec img {
  border-radius: 30px;
  box-shadow: 10px 11px 5px 0px rgba(0, 0, 0, 0.42);
  object-fit: fill;
}

.hero {
  background-image: url(../assets/img/index/heroimg.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .herobox {
  background: rgba(37, 30, 30, 0.685);
  width: 50%;
}

.section-back {
  background-color: black;
}

.indexcardscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(171, 32, 32) 50%, rgb(0, 0, 0) 100%);
}

.indexcard, .tarjeta3, .tarjeta2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 200px;
  border: 2px solid white;
  flex-direction: column;
  margin: 20px;
  border-radius: 15px;
}
.indexcard i, .tarjeta3 i, .tarjeta2 i {
  font-size: 4rem;
  color: white;
}
.indexcard:hover, .tarjeta3:hover, .tarjeta2:hover {
  background-color: grey;
  transition: 0.8s;
}
.indexcard:hover i, .tarjeta3:hover i, .tarjeta2:hover i, .indexcard:hover p, .tarjeta3:hover p, .tarjeta2:hover p {
  color: black;
}

.herobox__subtitle {
  font-style: italic;
  font-size: 1.8rem;
}

.tarjeta2 p {
  text-align: center;
}

.bienvenidosimg {
  width: 100%;
  height: 100%;
}

.elegirnos {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(171, 32, 32) 50%, rgb(0, 0, 0) 100%);
}

.herobox__button {
  border: solid black 2px;
  padding: 12px;
  margin: 15px;
  border-radius: 8%;
  background-color: rgba(2, 0, 3, 0.829);
  color: beige;
  width: 80%;
  text-align: center;
}
.herobox__button:hover {
  background-color: white;
  transition: 0.8s;
  color: black;
}

/*# sourceMappingURL=styles.css.map */
