.hero{
    background-image: url(../assets/img/index/heroimg.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    .herobox{
        background: rgba(37, 30, 30, 0.685);
        width: 50%;
    }
}

.section-back{
    background-color: $section-back;
}

.indexcardscontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $section-gradient;
}

.indexcard {
    @include flex-indexcards();
    width: 300px;
    height: 200px;
    border: 2px solid white;
    flex-direction: column;
    margin: 20px;
    border-radius: 15px;
    i{
        font-size: 4rem;
        color: white;        
    }
    &:hover{
        background-color: grey;
        transition: 0.8s;
        i, p{
            color: black;
        }
    }
}

.herobox__subtitle{
    font-style: italic;
    font-size: 1.8rem;
    
}

.tarjeta2 {
    @extend  .indexcard;
    p {
        text-align: center;
    }

}

.tarjeta3 {
    @extend .indexcard;
}

.bienvenidosimg{
    width: 100%;
    height: 100%;
}

.elegirnos {
    background: $section-gradient;
}

.herobox__button{
    border: solid black 2px;
    padding: 12px;
    margin: 15px;
    border-radius: 8%;
    background-color: rgba(2, 0, 3, 0.829);
    color: beige;
    width: 80%;
    text-align: center;

    &:hover{
        background-color: white;
        transition: 0.8s;
        color: black;
    }
}