.section-local {
    background: #000;

    & article{
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(171,32,32,1) 50%, rgba(0,0,0,1) 100%);
    
    & a{   
        text-decoration: none;
        color: papayawhip;
        text-decoration: underline;
        &:hover{
            color: grey;
            transition: 0.3s;
        }
    }

    & li, a{
        list-style: none;
        text-decoration: none;
        color: papayawhip;
        &:hover{
            color: grey;
            transition: 0.3s;
              }
         }
         h3{
            font-family: 'Oswald', sans-serif;
            font-size: 2.4rem;
            color: $title-color;;
         }
         .redes{
            font-size: 3rem;
            color: white;
            &:hover{
                color: black;
                transition: 0.3s;
            }
         }
    }
}



.sponsor{
    width: 150px;
    height: 150px;
}

