article{
        background: $section-gradient;
    }
.backgaleria{
    background-color: black;
}

.galeria {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $section-gradient;
    h3{
        font-family: 'Oswald', sans-serif;
        color: $title-color;
        font-size: 2rem;
        text-decoration: underline;
        &:hover{
            color: black;
            transition: 0.8s;
        }
    
    }
    img{
        border-radius: 30px;
        box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.42);
        object-fit: cover;
    }
}