.section-trabajos{
    background-image: url(../assets/img/background/backsec.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    & article{
        background: $section-gradient;
    }
}