footer {
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(171,32,32,1) 100%);
        
    
    p {
        color: white;
        font-size: 1.1rem;
    }

    h3{
        color: white;
    }

    i {
        color: white;
        font-size: 1.8rem;
    }
}